*.pyc
*.pyd
*.sqlite3
*.log
*.exe
migrations
*~
*-info
*.so
*.pth
MySQLdb
bin
django
ldap3
pytz
sqlparse
sql_server
pyasn1
.python-version
.idea
django-admin.py
backcall
colorama
cx_Oracle-doc
_distutils_hack
pyreadline
IPython
ipython_genutils
jedi
pkg_resources
pygments
pymysql
parso
prompt_toolkit
setuptools
share
traitlets
wcwidth
six.py
readline.py
pickleshare.py
easy_install.py
decorator.py
appnope
pexpect
ptyprocess
